
#featured.col-sm-12
  .row
    .col-sm-10
      %h3 
        =@movie.name
  
  -@movie.attributes.each do |k,v|
    - next if ['updated_at', 'created_at', 'fix_me', '_id', 'name'].include?(k)
    .row
      .col-sm-10
        %h4 
          =k
        %h4
          %small.text-muted
            - if v.kind_of?(Array)
              =v.join(', ')
            -else
              =v
    .divider
      .col-sm-12
        %hr/