
%section#intro.intro
  .slogan
    %h1 This is Ninestars
    %p make awesome stuff with Bootstrap framework
    %a.btn.btn-skin.scroll{:href => "#about"} Learn more
/ /Section: intro
/ Section: about
%section#about.home-section.text-center.bg-gray
  .heading-about.marginbot-50
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 About us
            %p Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
  .container
    .row
      .col-xs-6.col-sm-3.col-md-3
        .team.boxed-grey
          .inner
            %h5 Anna Hanaceck
            %p.subtitle Pixel Crafter
            .avatar
              %img.img-responsive{:alt => "", :src => image_path('team/1.jpg')}/
      .col-xs-6.col-sm-3.col-md-3
        .team.boxed-grey
          .inner
            %h5 Maura Daniels
            %p.subtitle Ruby on Rails
            .avatar
              %img.img-responsive{:alt => "", :src => image_path('team/2.jpg')}/
      .col-xs-6.col-sm-3.col-md-3
        .team.boxed-grey
          .inner
            %h5 Jack Briane
            %p.subtitle jQuery Ninja
            .avatar
              %img.img-responsive{:alt => "", :src => image_path('team/3.jpg')}/
      .col-xs-6.col-sm-3.col-md-3
        .team.boxed-grey
          .inner
            %h5 Tom Petterson
            %p.subtitle Typographer
            .avatar
              %img.img-responsive{:alt => "", :src => image_path('team/4.jpg')}/
/ /Section: about
/ Section: services
%section#service.home-section.text-center
  .heading-about.marginbot-50
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Our Services
            %p Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
  .container
    .row
      .col-sm-3.col-md-3
        .service-box
          .service-icon
            %i.fa.fa-code.fa-3x
          .service-desc
            %h5 Print
            %p Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
      .col-sm-3.col-md-3
        .service-box
          .service-icon
            %i.fa.fa-suitcase.fa-3x
          .service-desc
            %h5 Web Design
            %p Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
      .col-sm-3.col-md-3
        .service-box
          .service-icon
            %i.fa.fa-cog.fa-3x
          .service-desc
            %h5 Photography
            %p Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
      .col-sm-3.col-md-3
        .service-box
          .service-icon
            %i.fa.fa-rocket.fa-3x
          .service-desc
            %h5 Cloud System
            %p Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
/ /Section: services
/ Section: works
%section#works.home-section.text-center.bg-gray
  .heading-works.marginbot-50
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Recent Works
            %p Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
  .container
    .row
      .col-sm-12.col-md-12.col-lg-12
        .row.gallery-item
          .col-md-3
            %a{"data-lightbox-gallery" => "gallery1", "data-lightbox-hidpi" => image_path('works/1@2x.jpg'), :href => image_path('works/1.jpg'), :title => "This is an image title"}
              %img.img-responsive{:alt => "img", :src => image_path('works/1.jpg')}/
          .col-md-3
            %a{"data-lightbox-gallery" => "gallery1", "data-lightbox-hidpi" => image_path('works/1@2x.jpg'), :href => image_path('works/2.jpg'), :title => "This is an image title"}
              %img.img-responsive{:alt => "img", :src => image_path('works/2.jpg')}/
          .col-md-3
            %a{"data-lightbox-gallery" => "gallery1", "data-lightbox-hidpi" => image_path('works/1@2x.jpg'), :href => image_path('works/3.jpg'), :title => "This is an image title"}
              %img.img-responsive{:alt => "img", :src => image_path('works/3.jpg')}/
          .col-md-3
            %a{"data-lightbox-gallery" => "gallery1", "data-lightbox-hidpi" => image_path('works/1@2x.jpg'), :href => image_path('works/4.jpg'), :title => "This is an image title"}
              %img.img-responsive{:alt => "img", :src => image_path('works/4.jpg')}/
          .col-md-3
            %a{"data-lightbox-gallery" => "gallery1", "data-lightbox-hidpi" => image_path('works/1@2x.jpg'), :href => image_path('works/5.jpg'), :title => "This is an image title"}
              %img.img-responsive{:alt => "img", :src => image_path('works/5.jpg')}/
          .col-md-3
            %a{"data-lightbox-gallery" => "gallery1", "data-lightbox-hidpi" => image_path('works/1@2x.jpg'), :href => image_path('works/6.jpg'), :title => "This is an image title"}
              %img.img-responsive{:alt => "img", :src => image_path('works/6.jpg')}/
          .col-md-3
            %a{"data-lightbox-gallery" => "gallery1", "data-lightbox-hidpi" => image_path('works/1@2x.jpg'), :href => image_path('works/7.jpg'), :title => "This is an image title"}
              %img.img-responsive{:alt => "img", :src => image_path('works/7.jpg')}/
          .col-md-3
            %a{"data-lightbox-gallery" => "gallery1", "data-lightbox-hidpi" => image_path('works/1@2x.jpg'), :href => image_path('works/8.jpg'), :title => "This is an image title"}
              %img.img-responsive{:alt => "img", :src => image_path('works/8.jpg')}/
/ /Section: works
/ Section: contact
%section#contact.home-section.text-center
  .heading-contact.marginbot-50
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Get in touch
            %p Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
  .container
    .row
      .col-lg-8.col-md-offset-2
        .boxed-grey
          %form#contact-form
            .row
              .col-md-6
                .form-group
                  %label{:for => "name"}
                    Name
                  %input#name.form-control{:placeholder => "Enter name", :required => "required", :type => "text"}/
                .form-group
                  %label{:for => "email"}
                    Email Address
                  .input-group
                    %span.input-group-addon
                      %span.glyphicon.glyphicon-envelope
                    %input#email.form-control{:placeholder => "Enter email", :required => "required", :type => "email"}/
                .form-group
                  %label{:for => "subject"}
                    Subject
                  %select#subject.form-control{:name => "subject", :required => "required"}
                    %option{:selected => "selected", :value => "na"} Choose One:
                    %option{:value => "service"} General Customer Service
                    %option{:value => "suggestions"} Suggestions
                    %option{:value => "product"} Product Support
              .col-md-6
                .form-group
                  %label{:for => "name"}
                    Message
                  %textarea#message.form-control{:cols => "25", :name => "message", :placeholder => "Message", :required => "required", :rows => "9"}
              .col-md-12
                %button#btnContactUs.btn.btn-skin.pull-right{:type => "submit"}
                  Send Message
        .widget-contact.row
          .col-lg-6
            %address
              %strong Ninestars Ltd.
              %br/
              Big Villa 334 Awesome, Beautiful Suite 1200
              %br/
              San Francisco, CA 94107
              %br/
              %abbr{:title => "Phone"} P:
              (123) 456-7890
          .col-lg-6
            %address
              %strong Email
              %br/
              %a{:href => "mailto:#"} email.name@example.com
              %br/
              %a{:href => "mailto:#"} name.name@example.com
/ /Section: contact
%footer
  .container
    .row
      .col-md-12.col-lg-12
        %p
          Copyright © 2014 Ninestars - by
          %a{:href => "http://bootstraptaste.com"} Bootstraptaste
